<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <th:block th:replace="/fragments/resources :: head"></th:block>
    <title>Pizzas</title>

</head>
<body>
<th:block th:replace="/fragments/navbar :: navbar('pizzas')"></th:block>

<div class="container">
    <h1>Pizzas
        <a th:href="@{/pizzas/create}"
           class="btn btn-danger rounded-circle"
           title="add pizza"
           sec:authorize="hasAuthority('Admin')"
        >
            <i class="fa-solid fa-plus"></i>

        </a>
    </h1>
    <th:block th:if="${message}">
        <div class="alert alert-info alert-dismissible fade show">
            <div th:text="${message}"></div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </th:block>
    <table class="table">
        <thead>
        <th>Nome</th>
        <th>Descrizione</th>
        <th>Prezzo</th>
        <th></th>
        </thead>

        <tbody>
        <tr th:each="pizza : ${list}" th:object="${pizza}">
            <td th:text="*{name}"></td>
            <td th:text="*{description}"></td>
            <td th:text="*{price}">€</td>
            <td>
                <a th:href="@{|/pizzas/*{id}|}" class="btn btn-danger btn-sm" title="detail"><i
                        class="fa-solid fa-pizza-slice"></i></a>
                <a th:href="@{|/pizzas/edit/*{id}|}" class="btn btn-danger btn-sm" title="edit"><i
                        class="fa-solid fa-pen-to-square"></i></a>
                <a th:href="@{|/pizzas/delete/*{id}|}" class="btn btn-danger btn-sm" title="edit"><i
                        class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
        </tbody>

    </table>
</div>


</body>
</html>